<!doctype html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %}: MDOnline </title>
<body class="font-mono">
<header>
  <div class="bg-black py-3 flex flex-row justify-evenly align-middle sm:rounded-b-2xl" style="height: 10vh">
    <div class="h-full py-2">
      <img src="{{ url_for('static', filename='simon-heavybold.png') }}" class="h-full"/>
    </div>
    <nav>
      <div class="flex flex-row items-center h-full text-2xl font-semibold text-white ">
        <a href="/" class="px-4 hover:text-gray-400">Home</a>
        <a href="{{ url_for('systems.home')}}" class="px-4 hover:text-gray-400">Run a simulation</a>
        <a href="https://pubmed.ncbi.nlm.nih.gov/36379798/" target="_blank" class="px-4 hover:text-gray-400">Published paper</a>
      </div>
    </nav>
    <div class="my-auto text-white">
      Info tag
    </div>
  </div>
</header>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
</html>

