<!doctype html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<title>{% block title %}{% endblock %}: MDOnline </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<header>
  <nav>
    <div class="flex flex-row justify-center bg-red-200 px-4 py-4 text-xl font-extralight text-yellow-700 sm:rounded-b-2xl">
      <a href="/" class="px-4 hover:text-cyan-950">Home</a>
      <a class="px-4 hover:text-yellow-950">Run a simulation</a>
      <a href="https://pubmed.ncbi.nlm.nih.gov/36379798/" target="_blank" class="px-4 hover:text-yellow-950">Published paper</a>
    </div>
  </nav>
</header>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</html>

